<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    <title>Estoque</title>
    <link rel="stylesheet" type="text/css" href="static/bootstrap/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/assets/css/font-awesome.css">
    <link rel="stylesheet" href="static/bootstrap/assets/css/templatemo-softy-pinko.css">
    </head>
 
    <body>
    <div class="welcome-area" id="welcome">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong> <font color="black">Setor de Cadastros</font></strong></h1><br/>
                        <h4><strong> <font color="black">Selecione a opção desejada conforme as instruções abaixo:</font></strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Cadastrar</h5>
                                <a href="cadastros/cadastroCliente">Cadastrar Cliente</a> <br/>
                                <a href="cadastros/cadastroLoja">Cadastrar Loja</a><br/>
                                <a href="cadastros/cadastroVendedor">Cadastrar Vendedor</a><br/>
                                <a href="cadastros/cadastroProduto">Cadastrar Produto</a><br/>
                                <a href="cadastros/cadastroFornecedor">Cadastrar Fornecedor</a><br/>
                                <a href="cadastros/cadastroCategoria">Cadastrar Categoria</a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Listar</h5>
                                <span id="verCliente"><a href="cadastros/cadastroCliente">Listar Cliente</a></span><br/>
                                <a href="cadastros/cadastroLoja">Listar Loja</a><br/>
                                <a href="cadastros/cadastroVendedor">Listar Vendedor</a><br/>
                                <a href="cadastros/cadastroProduto">Listar Produto</a><br/>
                                <a href="cadastros/cadastroFornecedor">Listar Fornecedor</a><br/>
                                <a href="cadastros/cadastroCategoria">Listar Categoria</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Editar</h5>
                                <a href="cadastros/cadastroCliente">Editar Cliente</a><br/>
                                <a href="cadastros/cadastroLoja">Editar Loja</a><br/>
                                <a href="cadastros/cadastroVendedor">Editar Vendedor</a><br/>
                                <a href="cadastros/cadastroProduto">Editar Produto</a><br/>
                                <a href="cadastros/cadastroFornecedor">Editar Fornecedor</a><br/>
                                <a href="cadastros/cadastroCategoria">Editar Categoria</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="assets/images/featured-item-01.png" alt=""></i>
                                </div>
                                <h5 class="features-title">Remover</h5>
                                <a href="cadastros/cadastroCliente">Remover Cliente</a><br/>
                                <a href="cadastros/cadastroLoja">Remover Loja</a><br/>
                                <a href="cadastros/cadastroVendedor">Remover Vendedor</a><br/>
                                <a href="cadastros/cadastroProduto">Remover Produto</a><br/>
                                <a href="cadastros/cadastroFornecedor">Remover Fornecedor</a><br/>
                                <a href="cadastros/cadastroCategoria">Remover Categoria</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="static/bootstrap/assets/js/jquery-2.1.0.min.js"></script>
    <script src="static/bootstrap/assets/js/popper.js"></script>
    <script src="static/bootstrap/assets/js/bootstrap.min.js"></script>
    <script src="static/bootstrap/assets/js/scrollreveal.min.js"></script>
    <script src="static/bootstrap/assets/js/waypoints.min.js"></script>
    <script src="static/bootstrap/assets/js/jquery.counterup.min.js"></script>
    <script src="static/bootstrap/assets/js/imgfix.min.js"></script> 
    <script src="static/bootstrap/assets/js/custom.js"></script>

  </body>
</html>