<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Sistema de Controle de Estoque</title>
  <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet"/>
  <link href="bootstrap/css/style.css" rel="stylesheet" />
  <link href="bootstrap/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <section class="slider_section ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 offset-md-1">
            <div class="detail-box">
              <h1>
                <span> Controle</span> <br>
                de <br>
                Estoque
              </h1>
              <div class="btn-box">
                <a href="selecoes" class="">
                  Acessar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script type="text/javascript" src="bootstrap/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="bootstrap/js/custom.js"></script>


</body>
</html>